@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #252525;
  --card: #ffffff;
  --card-foreground: #252525;
  --popover: #ffffff;
  --popover-foreground: #252525;
  --primary: #2d3a00;
  --primary-foreground: #fcfcfc;
  --secondary: #f7f7f7;
  --secondary-foreground: #2d3a00;
  --muted: #f7f7f7;
  --muted-foreground: #8e8e8e;
  --accent: #f7f7f7;
  --accent-foreground: #2d3a00;
  --destructive: #d9534f;
  --border: #ebebeb;
  --input: #ebebeb;
  --ring: #b5b5b5;
  --chart-1: #b3a05a;
  --chart-2: #5a8fa3;
  --chart-3: #4a5a8a;
  --chart-4: #e2c97a;
  --chart-5: #e2b76a;
  --sidebar: #fcfcfc;
  --sidebar-foreground: #252525;
  --sidebar-primary: #2d3a00;
  --sidebar-primary-foreground: #fcfcfc;
  --sidebar-accent: #f7f7f7;
  --sidebar-accent-foreground: #2d3a00;
  --sidebar-border: #ebebeb;
  --sidebar-ring: #b5b5b5;
}

.dark {
  --background: #252525;
  --foreground: #fcfcfc;
  --card: #2d3a00;
  --card-foreground: #fcfcfc;
  --popover: #2d3a00;
  --popover-foreground: #fcfcfc;
  --primary: #ebebeb;
  --primary-foreground: #2d3a00;
  --secondary: #454545;
  --secondary-foreground: #fcfcfc;
  --muted: #454545;
  --muted-foreground: #b5b5b5;
  --accent: #454545;
  --accent-foreground: #fcfcfc;
  --destructive: #d9534f;
  --border: #ffffff1a;
  --input: #ffffff26;
  --ring: #8e8e8e;
  --chart-1: #7d6eb3;
  --chart-2: #b2b25a;
  --chart-3: #e2b76a;
  --chart-4: #5a8fa3;
  --chart-5: #b3a05a;
  --sidebar: #2d3a00;
  --sidebar-foreground: #fcfcfc;
  --sidebar-primary: #7d6eb3;
  --sidebar-primary-foreground: #fcfcfc;
  --sidebar-accent: #454545;
  --sidebar-accent-foreground: #fcfcfc;
  --sidebar-border: #ffffff1a;
  --sidebar-ring: #8e8e8e;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
